body{
	background-image: url('../images/game-of-thrones-hand-the-king-182278.jpg');
  background-repeat:no-repeat;
  background-size: 1700px;
}
h1{
  color:#f72b2b;
}
.intro{
  color: ;
}
}
.container{
  
  background: blue;
}
button {
  font-size: 25px;
  margin-top: 6px;
  color: white;
  text-align: center;
  background-color: red;
  width:200px;
}
.score{
  color: white;
}
.timer{
  color: red;

}
.question{
  color: white ;
  font-size: 25px;
  font-family: helvetica;
}
.choice{
  color: blue;
  font-size: 20px;
  background-color: white;
}

.audio{
  background-color: #990000;
}
.footer {
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;

}
@media only screen and (max-width: 414px) {
  .row {width:280px!important; padding:0;}  
  .score {text-align: center!important;}
  .timer {text-align: center!important;} 
  .question {text-align: center!important;}
     
    }
